/* Import Baloo 2 font */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Styling */
body {
  font-family: "Baloo 2", sans-serif;
}

h1,
h2,
h3,
p,
label,
button {
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
}

/* Ensure consistent margin and padding across elements */
body {
  margin: 0;
  padding: 0;
}
