.sidebar {
  width: 16rem;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  z-index: 10; /* Ensure sidebar stays above other content */
  box-shadow: 2px 4px 4px rgba(185, 185, 185, 0.25);
}

.highlight {
  position: absolute;
  left: 0.5rem; /* Adjusted position */
  width: calc(100% - 1rem); /* Adjust width to account for padding */
  height: 2.5rem;
  background-color: #ff004f;
  border-radius: 12px;
  transition: transform 0.3s ease;
  pointer-events: none;
  z-index: 0;
}

.logoContainer {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.logoImage {
  width: 10rem;
  height: 4rem;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.libraryHeader {
  font-family: "Baloo 2";
  font-size: 24px;
  padding: 0.75rem 1rem;
  font-weight: 600;
  color: #000000;
}

.nav {
  flex: 1;
  padding: 0.5rem 0;
}
