/* src/components/Modal.css */

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* Modal Content */
.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-sizing: border-box; /* Include padding and border in width */
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Form Styles */
.modal form {
  margin: 0;
  padding: 0;
}

/* Form Inputs */
.modal input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in width */
}

.modal form button {
  width: 100%;
  padding: 12px; /* Match padding with input fields */
  margin-top: 15px; /* Add margin to separate from inputs */
  border: none;
  border-radius: 5px;
  background-color: #ff004f;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box; /* Include padding and border in width */
}

.modal form button:hover {
  background-color: #e60045;
}

/* Link Button */
.link-button {
  background: none;
  border: none;
  color: #ff004f;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1em;
  padding: 0;
}

.link-button:hover {
  color: #e60045;
}

/* Error Message */
.error {
  color: red;
  margin-bottom: 10px;
}
