.collapsible {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 2.5rem;
    padding-right: 0.75rem;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 2;
}

.iconButton {
    width: 1.25rem;
    height: 1.25rem;
    color: #6b7280;
}