.item {
    width: 100%;
    text-align: left;
    transition: color 0.2s;
    color: #000000;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0 1rem 1rem;
}

.primaryItem {
    font-family: "Baloo 2";
    font-weight: 600;
    font-size: 18px;
}

.secondaryItem {
    padding-left: 2rem;
    font-size: 0.90rem;
    font-family: "Baloo 2";
    font-weight: medium;
    color: #808080;
    margin: 0;
}

/* Add to SidebarItem.module.css */
.activeSubItem {
    font-weight: 700 !important;
    color: #000000 !important;
}

/* Update existing styles in Sidebar.module.css */
.highlight {
    position: absolute;
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: 2.5rem;
    background-color: #FF5975;
    border-radius: 12px;
    transition: transform 0.3s ease;
    pointer-events: none;
    z-index: 0;
    opacity: 0.1;
    /* Make the highlight more subtle */
}

.itemDiv {
    width: 255px;
    height: 2.5rem;
}