.markdownBody * {
    all: unset;
    /* white-space: pre-wrap; */
}
.markdownBody h1 {
    font-size: 5rem;
}
.markdownBody h2 {
    font-size: 4rem;
}
.markdownBody h3 {
    font-size: 3rem;
}
.markdownBody h4 {
    font-size: 2rem;
}
.markdownBody h5 {
    font-size: 1rem;
}
