.tiptap h1 {
  font-size: 2rem;
  font-weight: 650;
}

.tiptap h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.tiptap h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.tiptap h4 {
  font-size: 1.25rem;
  font-weight: 550;
}

/* Additional styling for blockquotes and lists */
.tiptap blockquote {
  font-style: italic;
  border-inline-start-width: 0.25rem;
  border-inline-start-color: hsl(var(--border));
  padding-inline-start: 1em;
}


/* List styles */
.tiptap ul, .tiptap ol {
  padding: 0 1rem;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  padding-inline-start: 1.6em;

  li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-inline-start: 0.4em;
  }

  li ul,  
  ol {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}

.tiptap ul {
  list-style-type: disc;
}
.tiptap ol {
  list-style-type: decimal;
}

.tiptap hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}